@import "../styles/variables.module.scss";
.parent{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    // max-width: 98vw;
    .heading{
        font-size: 65px;
        font-weight: 700;
    }
    .contactCard{
        display: flex;
        margin: 2rem;
        text-align: center;
        align-items: center;
        font-weight: 500;
        line-height: 27px;
        max-width: 90%;
        padding: 3rem;
        background-color: #5a5f67;
        border-radius: 25px;
        @media screen and (max-width: $screen--small) {
            flex-direction: column;
        }
        div{
            padding: 1rem;
        }
    }
    
}