@import "../styles/variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Martel+Sans:wght@200&display=swap');

.ArchitectureFont{
  font-family: 'Architects Daughter', cursive;

  font-family: 'Martel Sans', sans-serif;
  font-weight:bolder;


}