@import "../styles/variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Martel+Sans:wght@200&display=swap');

/* styles/index.module.scss */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-out;
}
