.settingsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.settingsForm {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settingsForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.settingsForm label {
    display: block;
    margin-bottom: 10px;
    color: #ca2b2b;
    font-size: 16px;
}

.settingsForm input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.settingsForm button {
    padding: 10px 20px;
    background-color: #3ea79d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.settingsForm button:hover {
    background-color: #2e7d76;
}


/* Adjust the color of the labels */

.settingsForm label[for="height"],
.settingsForm label[for="weight"],
.settingsForm label[for="cuisine"],
.settingsForm label[for="allergies"] {
    color: #3ea79d;
    /* Change the color to the desired highlight color */
}