$font-small: 16px;
$font-heading:128px;
$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.2) 0%,
  rgba(40, 42, 54, 0.2) 21.7%
);
$color-primary: #3ea79d;
$footer-gradient: linear-gradient(
  180deg,
  rgba(56, 58, 87, 0.25) 0%,
  #383a57 100%
);
$button-gradient: linear-gradient(
  90deg,
  #e38748 3.47%,
  #e8630a 49.31%,
  #ad4500 100%
);
$color-light: #d3d3d3;
$color-dark: #1e1e1e;

